h1 {
    background-color: hsl(247, 94%, 13%);
    text-align: center}

strong{
    font-size: larger;

}
body {
    background-color: #1c1c1c; /* Dark background color */
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Coat_of_arms_of_the_Brazilian_Air_Force.svg/1200px-Coat_of_arms_of_the_Brazilian_Air_Force.svg.png"); /* Replace with your QSMP background image */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(255, 255, 255); /* Text color for better visibility */
  }
.foto1 {text-align: center;}
