h1 {
    background-color: rgb(24, 97, 3);
    text-align: center}

strong{
    font-size: larger;

}
body {
    background-color: #1c1c1c; /* Dark background color */
    background-image: url("https://i.pinimg.com/736x/83/fc/76/83fc76286f795d02c69cb897317c5bee.jpg"); /* Replace with your QSMP background image */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: #edf7d6ce; /* Text color for better visibility */
  }
.foto1 {text-align: center;}
